.plant-image {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.plant-container {
  margin: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.legende {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5px;
}

.plant-name {
  color: var(--light-brown);
  margin-top: 6px;
}

.plant-name:hover {
  color: var(--brown);
}
