.plant-image {
  height: 40vh;
  width: 20vw;
  object-fit: cover;
  border: 10px double black;
}

.plant-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  width: 25vw;
  height: 50vh;
}

.legende {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5px;
}

.plant-name {
  color: var(--light-brown);
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: 200;
}

.plant-name:hover {
  color: var(--brown);
}

@media only screen and (max-width: 600px) {
  .plant-container {
    width: 80vw;
  }

  .plant-image {
    width: 67vw;
  }
}
