li {
  list-style: none;
}

a {
  text-decoration: none;
}

.image-logo {
  width: 15vw;
  height: 20vh;
  margin-left: -20px;
  margin-right: 45px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
  margin-left: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-down {
  padding-left: 3px;
  height: 5px;
  margin-top: 3px;
}
.nav-menu-right {
  display: flex;
  margin-left: auto;
  margin-top: 35px;
}

.nav-item {
  margin-right: 3rem;
  font-size: 1.3rem;
}

.nav-link {
  color: var(--light-brown);
  display: flex;
}

.nav-link:hover {
  color: brown;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .image-logo {
    width: 40vw;
    height: 15vh;
    margin-left: -40px;
  }

  .nav-menu {
    position: fixed;
    right: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: red;
    width: 200px;
    height: 500px;
    margin-left: auto;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu-left {
    flex-direction: column;
    margin-right: 100px;
    padding-right: 0px;
  }

  .nav-menu-right {
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 350px;
  }

  .nav-menu-right a {
    padding-left: 10px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-link {
    font-size: 15px;
    text-align: center;
  }

  .nav-item {
    margin-top: 1rem;
    margin-right: auto;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .login {
    background-color: teal;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
