.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.form-login {
  display: flex;
  width: 50vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  border: 1px solid;
  border-radius: 10px;
}

.input-pseudopass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 30vw;
}

.inputPseudo,
.inputPassword {
  width: 25vw;
  border-radius: 10px;
  height: 3rem;
  border: none;
  margin-bottom: 40px;
}

.inputPseudo,
.inputPassword,
::placeholder {
  padding-left: 20px;
  font-size: 1.1rem;
  color: var(--taupe);
}

.buttonconnexion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  max-width: 500px;
  height: 15vw;
  max-height: 70px;
  background-color: var(--light-taupe);
  color: var(--brown);
  border-radius: 10px;
  font-family: var(--font);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .form-login {
    height: 40vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-pseudopass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.inputPassword,
.inputPseudo {
  width: 50vw;
  height: 6vh;
}
.inputPassword {
  margin-bottom: 15vh;
}

.buttonconnexion {
  width: 50vw;
  height: 6vh;
}
