.plants-list-container {
  margin-top: 20px;
}

.plants-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10vh;
  justify-content: space-around;
}

.filter {
  padding: 0 100px;
}

.plantadd_input.select {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
}
