.global-wishlist {
  background-color: var(--light-taupe);
  height: 100vh;
}

.wish-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: var(--very-light);
}

.wish-list {
  display: flex;
  height: 55vh;
  flex-direction: column;
  justify-content: space-between;
}
